# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_KOMOJI_LEFT
    def_bool $(shields_list_contains,komoji_left)

config SHIELD_KOMOJI_RIGHT
    def_bool $(shields_list_contains,komoji_right)
